.gitignore
/graphify-out
AGENTS.md

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment & Credentials
.env
*.env
backend/src/sheets/*.json
credentials/

# Docker
.dockerignore
/mysql/data/